
#projects
{
    background-color: white;
    width: 100%;
    height: 1800px;
    display: grid;
    grid-template-columns: 23% 60% 17%;
}

.project-container
{
    align-items: center;
    position: relative;
    top: 325px;
}

.project
{
    position: relative;
    margin-top: 40px;
    height: 400px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.project-media-container
{
    min-width: 250px;
    max-width: 250px;
    margin-bottom: 20px;
    margin-right: 40px;
    border-radius: 8px;
    height: 250px;

    flex: 3;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    background-color: lightblue;
}

.project-content-container
{
    flex: 4;
    width: 50px;
    background-color: lightblue;
}

.resource-links-container
{
    height: 250px;
    background-color: black;
    width: 100px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    /* justify-content: center; */
    justify-self: right;
}

.resource-container
{
    align-items: center;
    position: relative;
    top:400px;
    float: right;
}

.resource
{
    margin-top: 40px;
    height: 400px;
    width: 150px;
    background-color: gray;
    display: grid;
    grid-template-columns: 130px 20px;
    align-items: center;
    justify-content: center;
}

.technologies
{
    color: lightblue;
    text-align: right;
}